
.p-table-row {  
    text-align: center;  
    /* height:20px; */
    /* font-family:Verdana,sans-serif; */
    font-size:11px; 
  }

  .elevation {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .white {
    color: white;
    /* font-family:Verdana,sans-serif; */
    /* font-size:13px; */
  }

  