<p-toolbar>
  <div class="ui-toolbar-group-left">   
    <span class="white">{{getSpieltagInfo()}}</span>
  </div>
  <div class="ui-toolbar-group-right">
      <p-button icon="pi pi-pencil" routerLink="/runde"></p-button>
  </div>
</p-toolbar>

<div style="padding-top: 0.2em;"></div>

<!-- <p-panel header="Spieltag vom {{formatDate(spieltag.beginn)}}" class="dd"> -->
    <p-table [columns]="displayedColumns" [value]="spieltag.runden" [scrollable]="true" scrollHeight="300px"
      selectionMode="single" [(selection)]="selectedRunde" *ngIf="spieltag">
    <ng-template pTemplate="header" let-columns>
      <tr class="p-table-row">
        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-runde let-columns="columns">
      <tr #primerow class="p-table-row" [pSelectableRow]="runde" [attr.nr]="runde.nr">
        <td *ngFor="let col of columns; trackBy: getIndex" [ngStyle]="{'width': col.width}"
        (click)="rundeClicked(runde)">
          {{getValueFor(runde, col.field)}}
        </td>
      </tr>
    </ng-template>
  </p-table>
<!-- </p-panel> -->

<!-- <div class="elevation" style="padding-top: 0.2em;">
  <p-table [columns]="displayedColumns" [value]="spieltag.runden" [scrollable]="true" scrollHeight="200px" selectionMode="single"
    [(selection)]="selectedRunde">
    <ng-template pTemplate="header" let-columns>
      <tr class="p-table-row">
        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-runde let-columns="columns">
      <tr #primerow class="p-table-row" [pSelectableRow]="runde" [attr.nr]="runde.nr">
        <td *ngFor="let col of columns; trackBy: getIndex" [ngStyle]="{'width': col.width}"
        (click)="rundeClicked(runde)">
          {{getValueFor(runde, col.field)}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->