<button mat-fab>Click me!</button>
<br>
<br>
  
<div class="table-container mat-elevation-z8">
  <table class="table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Runde">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let runde"> {{runde.nr}} </td>
    </ng-container>

    <ng-container matColumnDef="Torsten">
      <th mat-header-cell *matHeaderCellDef> Torsten </th>
      <td mat-cell *matCellDef="let runde"> {{runde.torsten}} </td>
    </ng-container>

    <ng-container matColumnDef="Guido">
      <th mat-header-cell *matHeaderCellDef> Guido </th>
      <td mat-cell *matCellDef="let runde"> {{runde.guido}} </td>
    </ng-container>

    <ng-container matColumnDef="Thomas">
      <th mat-header-cell *matHeaderCellDef> Thomas </th>
      <td mat-cell *matCellDef="let runde"> {{runde.thomas}} </td>
    </ng-container>

    <ng-container matColumnDef="Claus">
      <th mat-header-cell *matHeaderCellDef> Claus </th>
      <td mat-cell *matCellDef="let runde"> {{runde.claus}} </td>
    </ng-container>

    <ng-container matColumnDef="Levent">
      <th mat-header-cell *matHeaderCellDef> Levent </th>
      <td mat-cell *matCellDef="let runde"> {{runde.levent}} </td>
    </ng-container>

    <ng-container matColumnDef="Böcke">
      <th mat-header-cell *matHeaderCellDef> Böcke </th>
      <td mat-cell *matCellDef="let runde"> {{runde.boecke}} </td>
    </ng-container>

    <ng-container matColumnDef="Punkte">
      <th mat-header-cell *matHeaderCellDef> Punkte </th>
      <td mat-cell *matCellDef="let runde"> {{runde.punkte}} </td>
    </ng-container>

    <tr class="header_row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


