<div>
  <p-spinner #spinner size="5" (change)="scrollToRunde(getRundeByNr(spinner.value))"></p-spinner>
</div>
<div>
    <p-button icon="pi pi-plus" (click)="addRunde()"></p-button>
</div>
<br>
<div class="mat-elevation-z8">
<p-table [columns]="displayedColumns" 
    [value]="runden" 
    [scrollable]="true" 
    scrollHeight="200px"
    selectionMode="single" 
    [(selection)]="selectedRunde">
    <ng-template pTemplate="header" let-columns>
        <tr class="p-table-row">
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-runde >
        <tr #primerow
            class="p-table-row"                          
            [pSelectableRow]="runde"
            [attr.nr]="getNrByRunde(runde)">
            <td > {{runde.nr}} </td>
            <td > {{runde.torsten}} </td>
            <td > {{runde.guido}} </td>
            <td > {{runde.thomas}} </td>
            <td > {{runde.claus}} </td>
            <td > {{runde.levent}} </td>
            <td > {{"|".repeat(runde.boecke)}} </td>
            <td > {{runde.punkte == 0 ? "" : runde.punkte}} </td>
        </tr>
    </ng-template>
</p-table>
</div>


