<div>
  <p-button icon="pi pi-bars" routerLink="/rundenliste"></p-button>
</div>

<p-fieldset legend="Runde Nr. {{aktuelleRunde}} von {{gesamtRunden}} ({{statusDerRunde}})">
  <!-- <p-chips [(ngModel)]="rundeninfo" disabled="true"></p-chips> -->
  <!-- <p-chips [(ngModel)]="punktestand" disabled="true"></p-chips> -->
  <span *ngFor="let info of rundeninfo"  class="info"> {{info}} </span> 
  <div  class="info">{{punktestand}}</div> 
</p-fieldset>

<p-fieldset legend="Angesagt">
  <div>
    <p-dropdown [options]="moeglicheReAnsagen" [(ngModel)]="reAngesagt"></p-dropdown>
    <p-checkbox [(ngModel)]="reVonVorneherein" label="von vorneherein" binary="true"></p-checkbox>
  </div>
  <div>
    <p-dropdown [options]="moeglicheKontraAnsagen" [(ngModel)]="kontraAngesagt"></p-dropdown>
    <p-checkbox [(ngModel)]="kontraVonVorneherein" label="von vorneherein" binary="true"></p-checkbox>
  </div>
</p-fieldset>

<p-fieldset legend="Gespielt">
  
</p-fieldset>
